@use "./normalize";

@import "./variables";

@import "./partials/fonts";
@import "./partials/background";

// Compiles _partials to all breakpoints
@at-root { 
    $post: "";
    @import "./_partials";
}

@media screen and (min-width: $medium) {
    $post: -ns;
    @at-root{ @import "./_partials"; }
}

@media screen and (min-width: $medium) and (max-width: $large) {
    $post: -m;
    @at-root{ @import "./_partials"; }
}

@media screen and (min-width: $large) and (max-width: $xlarge) {
    $post: -l;
    @at-root{ @import "./_partials"; }
}


@media screen and (min-width: $xlarge) {
    $post: -xl;
    @at-root{ @import "./_partials"; }
}