$positions: (
    bottom: bottom center,
    center: center,
    left: center left,
    right: center right,
    top: top center
);

$sizes: contain, cover; 

.bg {
    // Colors
    @each $name, $color in $colors {
        &-#{$name} {
            background-color: $color;
        }
    }

    // Image
    &-image {
        background-image: var(--bg-image);
    }


    // Position
    @each $name, $pos in $positions {
        &-#{$name} {
            background-repeat: no-repeat;
            background-position: $pos;
        }
    }

    // Size
    @each $size in $sizes {
        &-#{$size} {
            background-size: $size;
        }
    }
}