$types: (
    a: "",
    t: -top,
    r: -right,
    b: -bottom,
    l: -left
);

$styles: dashed, dotted, double, groove, hidden, inset, none, outset, ridge, solid;

.b {
    // Color
    @each $name, $color in $colors {
        &-#{$name}#{$post} {
            border-color: $color;
        }
    }

    // Radius
    &r {
        @for $i from 1 through 10 {
            &#{$i}#{$post} {
                border-radius: $i * $radiusVariant;
            }

            &-#{$i * 10}#{$post} {
                border-radius: $i * 10%;
            }
        }

        &-pill#{$post} {
            border-radius: 99999px;
        }
    }

    // Style
    @each $style in $styles {
        &-#{$style}#{$post} {
            border-style: $style;
        }
    }

    // Type
    @each $b, $type in $types {
        &#{$b}#{$post} {
            border#{$type}: 1px solid;
        }
    }

    &n#{$post} { border: none; }

    // Width
    @for $e from 1 through 5 {
        &w#{$e}#{$post} {
            border-width: 0.25rem * pow(2, ($e - 1));
        }
    }
}