$types: (
    a: "",
    t: -top,
    r: -right,
    b: -bottom,
    l: -left
);

$styles: dashed, dotted, double, groove, hidden, inset, none, outset, ridge, solid;
.b {
    // Radius
    &r {
        @for $i from 1 through 10 {
            &#{$i}#{$post} {
                border-radius: $i * $radiusVariant;
            }

            &-#{$i * 10}#{$post} {
                border-radius: $i * 10%;
            }
        }
    }
    // Style
    @each $style in $styles {
        &-#{$style}#{$post} {
            border-style: $style;
        }
    }
    // Type
    @each $b, $type in $types {
        &#{$b}#{$post} {
            border#{$type}: 1px solid;
        }
    }

    &n#{$post} { border: none; }

}