$displays: (
    n: none,
    b: block,
    ib: inline-block,
    i: inline,
    -flex: flex,
    -grid: grid
);

@each $name, $display in $displays {
    .d {
        &#{$name}#{$post} { display: $display; }
    }
}

.hidden { visibility: hidden; }
.visible { visibility: visible; }
.collapse { visibility: collapse; }