$directions: column, column-reverse, row, row-reverse;
$spacings: (
    between: space-between,
    start: flex-start,
    end: flex-end,
    center: center,
    around: space-around
);
.flex {
    @each $d in $directions {
        &-#{$d}#{$post} {
            flex-direction: $d;
        }
    }
}

.justify {
    @each $name, $s in $spacings {
        &-#{$name}#{$post} {
            justify-content: $s;
        }
    }
}

