$types: (
    m: margin,
    p: padding
);
$variants: (
    a: "",
    t: -top,
    r: -right,
    b: -bottom,
    l: -left
);

@each $t, $prop in $types {
    @each $v, $propPost in $variants {
        @for $i from 0 through 7 {
            .#{$t} {
                &#{$v}#{$i}#{$post} {
                    #{$prop}#{$propPost}: $i * $spacing;
                }
            }
        }

        .#{$t}#{$v}-s1#{$post} {
            #{$prop}#{$propPost}: var(--spacing-1, 0);
        }

        .#{$t}#{$v}-s2#{$post} {
            #{$prop}#{$propPost}: var(--spacing-2, 0);
        }
    }
}

.ml-auto#{$post} {
    margin-left: auto;
}
.mr-auto#{$post} {
    margin-right: auto;
}

@for $i from 0 through 7 {
    .pv#{$i}#{$post} {
        padding-top: $i * $spacing;
        padding-bottom: $i * $spacing;
    }
}

.pv-s1#{$post} {
    padding-top: var(--spacing-1, 0);
    padding-bottom: var(--spacing-1, 0);
}

.pv-s2#{$post} {
    padding-top: var(--spacing-2, 0);
    padding-bottom: var(--spacing-2, 0);
}

@for $i from 0 through 7 {
    .ph#{$i}#{$post} {
        padding-left: $i * $spacing;
        padding-right: $i * $spacing;
    }
}

.ph-s1#{$post} {
    padding-left: var(--spacing-1, 0);
    padding-right: var(--spacing-1, 0);
}

.ph-s2#{$post} {
    padding-left: var(--spacing-2, 0);
    padding-right: var(--spacing-2, 0);
}

@for $i from 0 through 5 {
    .gap#{$i}#{$post} {
        gap: $i * $spacing;
    }
}

.gap-s1#{$post} {
    gap: var(--spacing-1, 0);
}

.gap-s2#{$post} {
    gap: var(--spacing-2, 0);
}

@for $i from 0 through 5 {
    .row-gap#{$i}#{$post} {
        row-gap: $i * $spacing;
    }
}

.row-gap-s1#{$post} {
    row-gap: var(--spacing-1, 0);
}

.row-gap-s2#{$post} {
    row-gap: var(--spacing-2, 0);
}

@for $i from 0 through 5 {
    .col-gap#{$i}#{$post} {
        column-gap: $i * $spacing;
    }
}

.col-gap-s1#{$post} {
    column-gap: var(--spacing-1, 0);
}

.col-gap-s2#{$post} {
    column-gap: var(--spacing-2, 0);
}