$types: "m", "p";
$variants: "a", "t", "r", "b", "l";

@each $t in $types {
    @each $v in $variants {
        @for $i from 1 through 7 {
            .#{$t} {
                &#{$v}#{$i}#{$post} {
                    margin: $i * $spacing;
                }
            }
        }
    }
}

@for $i from 1 through 5 {
    .gap#{$i}#{$post} {
        gap: $i * $spacing;
    }
}

@for $i from 1 through 5 {
    .row-gap#{$i}#{$post} {
        row-gap: $i * $spacing;
    }
}

@for $i from 1 through 5 {
    .col-gap#{$i}#{$post} {
        column-gap: $i * $spacing;
    }
}